!!! 5
%html
  %head
    %title Looper Insights Coding challenge
    %link{ href: "styles.css", :media => "screen", :rel => "stylesheet" }
    = javascript_pack_tag 'application'
  %body
    #react-root
